{% extends "../base.html" %}
{% block content %}
{% for message in messages %}
        <div class="alert alert-{{message.level_tag}}  alert-dismissible fade show">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endfor %}
<a href="{% url 'meal:all_meals' %}">Meal List</a>
<a href="{% url 'meal:create_meal' %}">Create Meal</a>
<a href="{% url 'meal:create_category' %}">Create category</a>
<a href="{% url 'meal:all_categories' %}">Category list</a>
{% endblock content%}