<div class="alert alert-danger">
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %} 
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
<form method="post" action="" >
    {% csrf_token %}
    {{form.old_password}}
    {{form.new_password1}}
    {{form.new_password2}}
<br>
<input type="submit" value="Change">
</form>

