{% extends "../manager-base.html" %}
{% load static %}
{% block content %}
{% for message in messages %}

<div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
    {{message}}
    <small><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></small>
  </div>
{% endfor %}

    <div class="input-group m-1 d-flex justify-content-end" style="width: 30%;">
    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
    <input type="text" id="search" placeholder="Start typing to search.." class="form-control">
  </div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Daily Allowance</th>
            <th>Total Orders</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="meal-table-body">
        {% for user in users %}
<tr>
<td>{{user.username}}</td>
<td>{{user.role}}</td>

{% if user.role.name == "user" %}
  <td><form method="post" action="{% url 'employee:change_daily_allowance' user.employee.pk %}">
      {% csrf_token %}
      <div class="row">
          <div class="col-8"><input type="number" class="form-control" name="daily_allowance" value="{{user.employee.daily_allowance}}"></div>
          <div class="col-4"><input type="submit" value="save" class="btn btn-success"></div>
      </div>
      
      
  </form>
</td>
{% else %}
<td>-</td>
{% endif %}
<td>{{user.employee.order_set.all.count}}</td>
<td><a href="{% url 'delete_user' user.id %}">Delete</a> </td>
</tr>
{% endfor %}

  

    </tbody>
</table>
<script src="{% static 'js/table-filter.js' %}"></script>
{% endblock content %}
