{% extends "../user-base.html" %}
{% load static %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{message.level_tag}}  alert-dismissible fade show">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<a href="{% url 'employee:daily_menu' %}">Today's menu</a> <br>
<a href="{% url 'menu:view_weekly_menu' week year %}">This weeks menu</a> <br>
<a href="{% url 'order:user_order_history' %}">Order History</a> <br>
<a href="{% url 'employee:employee_profile' %}">View Profile</a> <br>

Your daily allowance is : {{request.user.employee.daily_allowance}}<br>
Budget available: {{budget_available}}
{% endblock content %}
