{% for wm in all_weekly_menus %}
    Week: <a href="{{wm.get_absolute_url}}">{{wm.week}} </a><br>
    Created at: {{wm.created_at}}<br>
    Total Order Count: {{wm.get_total_order_count}}<br>
    Menus:
    <ol>
    {% for menu in wm.menu_set.all %}
    <li><a href="{{menu.get_absolute_url}}">
        {% for day in menu.DAYS %}
            {% if day.0 == menu.created_for %}
                {{day.1}}
            {% endif %}
        {% endfor %}
    </a></li> 
    {% endfor %}
    </ol>
{% endfor %}
