{% extends "../base.html" %}
{% block content %}

    <form method="get" action="">
    {{order_filter.form}}
    <input type="submit" value="Search">
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Menu
                </th>
                <th>
                    created_at
                </th>
                <th>
                    Employee
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            
        {% for order in orders %}
        <tr>
            <td>{{order.menu.get_day_name}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.employee.user.username}}</td>
            <td>
                <a href="{{order.get_absolute_url}}">View Details</a>
            </td>
        </tr>
        {% endfor %}
                

        </tbody>
    </table>


{% endblock content %}
